.aboutUsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    color: #002855;
    font-size: 2rem;

    line-height: 1.4;
}

.aboutUsImage{
    width: 50%;
    height: auto;

    max-width: 45%;
    display: block;
    object-fit: contain;
}

.aboutUsText {
    width: 40%;

    margin-bottom: 50px;
}

.aboutUsImage {
}


@media (max-width: 1200px) {
    .aboutUsText {
        width: 100%;
    }
    
    .aboutUsImage {
        width: 100%;
        max-width: 100%;
    }
    
}