.aboutUsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    color: #002855;
    font-size: 2rem;

    line-height: 1.4;
}

.aboutUsImageContainer {
    position: relative;

    width: 50%;

    max-width: 45%;
}

.odd {
    background-color: #eee;
}

.even {
    background-color: white;
}

.aboutUsText {
    width: 40%;

    margin-bottom: 50px;
}


@media (max-width: 1200px) {
    .aboutUsText {
        width: 100%;
    }
    
    .aboutUsImageContainer {
        width: 100%;
        max-width: 100%;
    }
    
}