.imageOverlay {
    position: absolute;
    top: 0;

    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: normal;

    width: 100%;
    height: 100%;

    background: rgba(95, 95, 95, 0.5);
}

.imageOverlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    text-align: center;
}

.aboutUsImage{
    height: auto;
    width: 100%;

    display: block;
    object-fit: contain;
}

.inputBox {
    cursor: pointer;

    opacity: 0.0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    width: 100%; 
    height:100%;
}